@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Poppins:wght@200&display=swap');
    header {
        font-weight:bolder;
         font-family: 'Poppins', sans-serif;
         background-color:#7971EA;
         color: #fff;
         padding: 1em;
       }
       footer{
         font-weight:bolder;
         font-family: 'Poppins', sans-serif;
         text-align: center;
         background-color:#7971EA;
         color: #fff;
         padding: 1em;
       }
       nav {
         display: flex;
         justify-content: center;
       }
       nav ul {
         display: flex;
         list-style-type: none;
       }
       nav li {
         margin: 0 1em;
       }
       nav a {
         color: #fff;
         text-decoration: none;
       }
       p{
        font-family: 'Cardo', serif;
        font-size:48px;
        color:#7286D3;
        background-color: #fff;
        
        }